*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    padding: 20px;
    background-color: skyblue;
    justify-content: space-between;
}
.btn{
    display: flex;
}
.hd h2{
    color: white;
    cursor: pointer;
}
ul{
    display: flex;
    gap: 20px;
    color: white;
}
li{
    list-style: none;
    font-size: larger;
    cursor: pointer;
}
.mention{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.mention button{
    background-color: transparent;
    border: none;
    padding: 7px 10px;
    color: white;
    font-size: larger;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}