*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mine{
    display: flex;
    justify-content: space-between;
}
.mine button{
    color: blue;
    background-color: transparent;
    border: none;
    font-size: larger;
}
.yours{
    display: flex;
    justify-content: space-between;
}
.padd{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}